/* Reset */
body {
  margin: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Main CSS */
body {
  font-family: 'Arial', sans-serif;
  font-family: 'Georgia','Times New Roman', serif;
  font-size: 16px;
  }

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto; }

.nav{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    }
.burger{
    display: none;
    color: #fff;
    font-size: 2rem;
}



.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-header{
  //position: fixed;
  width: 100%;
}

.burlogo{
    justify-content: space-between;
}

.burger{
    align-self: center; 
}

.menu-header .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  margin: 50px 0; }

.menu-header nav ul {                      /* Ar reikia menu-header kazkaip 5 krūvą sumesti */
  margin: 0; }

.menu-header nav li {
  list-style: none; }

.menu-header nav a {
  color: #cdcdcd;
  margin: 10px 20px;
  text-decoration: none;
  border-bottom: 3px solid transparent; }

.menu-header nav a:hover {
  color: #fff; /* spalva fff (balta) */
  border-bottom: 3px solid #f1cdb3; }

.hero h1 {
  font-family:  Georgia, serif;          
  color: #fff;
  /* turi buti #fff */
  font-size: 2.75rem;  /* 44px */
  line-height: 1.29; /* 57px*100/44 */
  letter-spacing: 0.06em; 
  font-weight: 400;}                 /*Išsiaškinti su letter-spacing. Ar reik 60/1000 kad gaut em. */

.hero p {
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 0.9375rem;
  line-height: 1.6; /* 24/15 */
}

.hero {
    background-image: url(../images/dog_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; 
}
 
.center{
    align-items: center;
}



.header-text{
  font-family:  Georgia, serif;          
  color: #545454;
  font-size: 2.1875rem;  /* 35px */
  line-height: 1.29; 
  letter-spacing: 0.06em; 
  font-weight: 400;
}

.header-width{
  max-width: 305px;
}


.text-width{
  max-width: 420px;
}

.text-style{
  font-family: Arial, sans-serif;
  color: #4c4c4c;
  font-size: 0.9375rem;
  line-height: 1.6;
}

.hero2 {
  background-color: #fafafa;
}

.hero2 .container {                     
    position: relative;}

.geltona {
  width: 40%; 
  color: #fff;
}

.about-header {
  width: 40%;
  margin: 180px 25;
}

.geltona2 {
  width: 50%;
}

.hero2image{
  text-align: right;
  padding: 95px 100px 95px 0;
}

.text-center{
  text-align: center;
}

.justify-content{
  justify-content: space-around;
  flex-direction: row;
}

.button{
  text-align: center;
  padding: 50px 0;
  
 a{
  padding: 20px 50px;
  background-color: #f1cdb3; 
  border-radius: 100px;
  text-decoration: none;
  color: #000;
  border:2px solid #f1cdb3;
  &:hover{
    background-color: #f6f6f6;
  } 
 }
  &.friend{
  text-align: left;
  a:hover{
    background: transparent;
    color: #fff;
    }
  }
}




.hero3{
  background-color: #f6f6f6;
}

.section-title{
  padding: 40px 0;
  margin: 0;
  max-width: 300px;

}

.hero3 .section-title{
  max-width: 355px;
}

.animals{
  background-color: #fff;
  width: 33%;
  margin:0 50px;
  padding: 35px 0;
  &.slick-slide img {
    display: inline;
    max-width: 100%;
  }
  
}

.slick-prev:before, .slick-next:before{
  font-family: inherit;
  color: #000;
  border: 2px solid #f1cdb3; 
  border-radius: 50%;
  padding: 10px 11px;
}

.slick-prev, .slick-next{
  border-radius: 50%;
  width: 46px;
  height: 47px;
}

.slick-prev:hover, .slick-next:hover{
  background: #f1cdb3; 
}  

.slick-list.draggable{
    margin:0 48px;   
}

.hero4{
  background-color: #fafafa;
}

.hero6{
  background-color: #f6f6f6;
  width: 100%;
}

.img-responsive{
    max-width: 100%;
    height: auto; 
    display: block;
}

.hero7{
  background-image: url(../images/bottom_contact_dog_02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
     a:link {
    color: #fff; 
    background-color: transparent; 
    text-decoration: none;
    }
    a:visited {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    }
    a:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: underline;
    }
}

.footer h2{
  color: #fff;
}

.footer p{
  color: #f1cdb3;
}

.vertical-center{
  align-items: center;
}

.twenty{
  flex-wrap: wrap;
  justify-content: center;
}

.icons {
  width: 20%;
  text-align: center;
  padding-bottom: 50px;
}

.section-center{
  margin: 0 auto;
}

.header-width-donation{
  max-width: 366px;
}

.footer-image{
  padding-right: 20px;
}

.footer{
  max-width: 280px;
}

.footer:last-child{
  margin-left: 170px;
}

.header-text-h3{
  font-family:  Georgia, serif;          
  color: #545454;
  font-size: 1rem;
}

//Back to Top mygtukas
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}

//Darome puslapį Responsive


@media all and (max-width: 800px){
    .nav{
        display: none;
        flex-wrap: wrap;
    }

    .nav.show{
        display: block;
    }

    .menu-item{
        width: 100%;
    }

    .burger{
        display: block;
    }
    .icons, 
    .menu-header nav li, 
    .logo, 
    .geltona, 
    .geltona2, 
    .burlogo{
        width: 100%;
    }
    .hero2 .container, 
    .hero6 .container, 
    .hero7 .container, 
    .menu-header .container{
    flex-wrap: wrap;
    } 
    .animals{
        margin:0 10px;
    }
    .hero6 .geltona2{
        padding-right: 0;
    }
    .hero7 .footer:last-child{
        margin-left: 0;
    }
    .menu-header .nav ul{
    flex-direction: column;
    font-size: 2rem;
    padding-left: 0;
    }
    .menu-header .nav li{
        padding-bottom: 10px;
    }
    .menu-header .nav li a{
        margin:0;
    }

}
@media all and (max-width: 1024px) {
    .animals{
        margin:0 20px;
    }
}
@media all and (max-width: 1200px) {
    .slick-next{
        right: -10px;
    }
    .slick-prev{
        left: -10px;
    }
}


